#visual studio related
*.filters
*.iobj
*.ipdb
*.ipch
*.obj
*.db
*.o
*.exe
*.ilk
*.pdb
*.tlog
*.idb
*.suo
*.log
*.pgn

#misc
*.tar
*.tar.gz


#directories
x64/*
log/*
packages/*
.vs/*
build/*
build-*/
haVoc/*
.vscode/*
